*{margin: 0}
body{background-size: 1700p}

.background{background-image:url("background.jpg");
background-size:1200px;
background-repeat: no-repeat;}

.trasparent{width: 780px;
margin-top: 40px; margin-left: auto; margin-right: auto;
background-color:rgba(11,11,11,0.5) ; border-radius: 8px 8px 8px 8px;}

.container{
width:700px; height: 550px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;}

img{height: 70px;margin-top: 30px}

header , nav{text-align: center;}
header{font-size: 26px; color: #00ff00;}

nav{background-color:#00ff00; width: 700Px;
  padding: 20px; }


input{display: inline-block;}
h3{margin-top: 10px}

.charge1{
  width:300px;height: 17px;
background-color:rgb(255,229,180); border-radius: 5px 5px 5px 5px;}

.charge2{
  width:600px;height: 17px;
background-color:rgb(119,221,110); border-radius: 5px 5px 5px 5px;}

.charge3{
  width:200px;height: 17px;
background-color:rgb(34,113,180); border-radius: 5px 5px 5px 5px;}


section{color: white;margin-top: 10px}
